<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  {% load static %}

 
      <link rel="stylesheet" href="{% static 'css/stylee.css'%}">

  
</head>

<body>
  
<div class="container">
  <div class="info">
    <h1> Login </h1> </div>
</div>
<div class="form">
  <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
  <form action=" " method="post" class="login-form" >
    {% csrf_token %}
    <input type="text" placeholder="username" name="username"/>
    <input type="password" placeholder="password" name="password"/>
    <input type="submit" value="Login">
    </form>
</div>
  
    <script  src="{% static 'js/log.js'%}"></script>

</body>
</html>
